[tron]
tronHost = tron
tronCmdrPort = 6093

[dcb]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/dcb

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = rack5-ics
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py
port = 0

controllers = pdu, sources, filterwheel
startingControllers = pdu, sources, filterwheel
fiberConfig = /software/ait/fiberConfig.cfg

[pdu]
host = pdu-dcb
port = 23
mode = operation

[sources]
mode = operation

[filterwheel]
host = filterwheel-dcb
port = 9000
mode = operation
qthHoles = none,0.7,1.0,2.0,4.0
lineHoles = 0.5,1.0,2.0,4.0,12.7

[outlets]
01 = channel01
02 = hgar
03 = neon
04 = xenon
05 = krypton
06 = argon
07 = channel07
08 = halogen

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/dcb
baseLevel = 20
cmdLevel = 20
ioLevel = 20
dispatchLevel = 30
consoleLevel = 20

